body {
    background: linear-gradient(90deg, #218f8d, #0099ff);
    font-family: Arial, sans-serif;
    font-size: 16px;
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  form {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    padding: 40px;
    background: #218f8d;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
  }
  
  form h1{
    color: white;
  }

  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    font-size: 16px;
  }

  input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    font-size: 16px;
  }
  
  
  input[type="submit"] {
    background: #fff;
    color: #0d47a1;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background: #0d47a1;
    color: #fff;
  }
  
  